body {
    display: flex;
    flex-direction: column;
    font-family: ralewaythin, sans-serif;
}

.page {
    display: flex;
    width:100%;
}

#sidebar {
    width:20%;
}

.mainContent {
    width:80%;
}

img {
    max-width: 100%;
}


@font-face {
    font-family: 'ralewaythin';
    src: url('fonts/raleway.woff') format('woff2'),
         url('fonts/raleway.woff2') format('woff');
    font-weight: normal;
    font-style: normal;

}